#container {
    display: grid;
    grid-template-columns: repeat(16, 100px);
    grid-gap: 15px;

}

.grid {
    height: 100px;
    border-radius: 3px;
    background: #acaaaa;
    text-align: right, bottom;
    
}

.hover {
    background-color: aqua;
}