@import url('https://fonts.googleapis.com/css?family=Varela+Round');


* {
    font-family: "Varela Round", Helvetica, sans-serif;
    color: white;
}

html {
    height: 100%;
    background-image: linear-gradient(#de6262, #ffb88c);
}

body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-style: italic;
}

#gridButtons>button {
    border: 2px solid gray;
    border-radius: 10px; 
    background-color: #5cdb5c;
    width: 150px;
    margin-bottom: 15px;

}
#container {

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 500px;
    width: 500px;
    box-sizing: content-box;
    border: 2px black solid;
}

.grid-item {

    border: 1px black solid;
    background-color: rgba(255, 255, 255, 1);

}
/*Pre-defined hover colors, based on chosen color by user*/
.redHover {
    
    border: 1px black solid;
    background-color: #ff0021;
}

.greenHover {
    
    border: 1px black solid;
    background-color: #5cdb5c;
}

.blueHover {
    
    border: 1px black solid;
    background-color: #6cc0e5;
}

.yellowHover {
    
    border: 1px black solid;
    background-color: #fbc93d;
}



h4 {

    text-align: center;
}

#colorPicker button {
    padding: 15px;
    border-radius: 10px;
    border-style: solid;

}



#redButton {
    background-color: #ff0021;
}

#greenButton {
    background-color: #5cdb5c;
}

#blueButton {
    background-color: #6cc0e5;
}

#yellowButton {
    background-color: #fbc93d;
}




